<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>Momentos Crediticios</title>
    <link rel="icon" type="image/x-icon" href="images/images/logo3.png" />
    <meta name="keywords" content="">
    <meta name="description"
        content="Momentos Crediticios es una institución peruana, regulada por la Superintendencia de Banca, Seguros y AFP, que inició sus operaciones en noviembre del 2023 bajo el nombre de Financiera Momentos Crediticios con una visión y misión.">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="css/pogo-slider.min.css" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
            <img src="images/images/loader.gif" alt="#" />
        </div>
    </div>
    

    <!-- Start header -->
    <header class="top-header">
        <div class="header_top">

            <div class="container">
                <div class="row">
                    <div class="logo_section">
                        <a class="navbar-brand" href="index"><img src="images/images/logopag.png" height="60"
                                alt="image"></a>
                    </div>
                    <div class="site_information">
                        <ul>
                            <li><a href="mailto:momentoscrediticios@gmail.com"><img src="images/images/mail_icon.png"
                                        alt="#" />momentoscrediticios@</a></li>
                            <li><a href="https://wa.me/981993950"><img src="images/images/phone_icon.png"
                                        alt="#" />(+51)981993950</a></li>
                            <li><a class="join_bt" href="/login">Iniciar Sesión</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="header_bottom">
            <div class="container">
                <div class="col-sm-12">
                    <div class="menu_orange_section" style="background: #00A6A6;">
                        <nav class="navbar header-nav navbar-expand-lg">
                            <div class="menu_section">
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                                    <ul class="navbar-nav">
                                        <li><a class="nav-link active" href="index">Inicio</a></li>
                                        <li><a class="nav-link" href="about">Nosotros</a></li>
                                        <li><a class="nav-link" href="services">Servicios</a></li>
                                        <li><a class="nav-link" href="new">News</a></li>
                                        <li><a class="nav-link" href="contact">Contacto</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <div class="search-box">
                            <input type="text" class="search-txt" placeholder="Search">
                            <a class="search-btn">
                                <img src="images/images/search_icon.png" alt="#" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!-- End header -->

    <!-- Start Banner -->
    <div class="section inner_page_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title">
                        <h3>Sobre Nosotros</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->

    <!-- section -->
    <div class="section layout_padding about_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                            <h2><span class="theme_color">Nuestros</span> Inicios</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p> Momentos Crediticios es una institución peruana, regulada por la Superintendencia de Banca,
                            Seguros y AFP, que inició sus operaciones en noviembre del 2023 bajo el nombre de Financiera
                            Momentos Crediticios con una visión y misión. Con la finalidad de ayudar al crecimiento de
                            la economía del Perú.</p>
                    </div>
                    <div class="full paddding_left_15">
                        <h2>Misión</h2>
                    </div>
                    <div class="full paddding_left_15">
                        <p>Contribuir a mejorar el nivel de vida de las personas con productos y servicios de calidad e
                            innovadores, de manera oportuna y confiable.</p>
                    </div>
                    <div class="full paddding_left_15">
                        <h2>Visión</h2>
                    </div>
                    <div class="full paddding_left_15">
                        <p>Ser la institución líder en calidad de servicio financiero con misión social, que se destaca
                            por el talento y compromiso de sus colaboradores.</p>
                    </div>
                    <!--
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="#">Read More ></a>
                    </div>
                    -->
                </div>
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="images/images/img3.png" alt="#" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="images/images/img3.png" alt="#" />
                    </div>
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                            <h2><span class="theme_color">Nuestra</span> Cultura</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p> ✔️ Compromiso Total: Estamos comprometidos a ayudar a nuestros clientes a alcanzar sus metas
                            financieras y personales.</p>
                        <p> ✔️ Responsabilidad y Transparencia: Valoramos la responsabilidad financiera y la
                            transparencia en todas nuestras operaciones.</p>
                        <p> ✔️ Creatividad e Innovación: Buscamos soluciones creativas y novedosas para atender las
                            necesidades cambiantes de nuestros clientes.</p>
                        <p> ✔️ Integridad: Nuestra integridad es fundamental. Actuamos con honestidad y ética en todo
                            momento, manteniendo los más altos estándares de conducta profesional.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                            <h2><span class="theme_color">Nuestra</span> Politica</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p> 🚩 Cumplimiento Normativo: Estamos dedicados a cumplir todas las regulaciones y normativas
                            establecidas por la Superintendencia de Banca, Seguros y AFP, así como cualquier otra
                            entidad reguladora pertinente en Perú.</p>
                        <p> 🚩 Servicio al Cliente: Brindamos un servicio de alta calidad y personalizado a nuestros
                            clientes. Escuchamos sus necesidades y ofrecemos soluciones financieras adecuadas</p>
                        <p> 🚩 Responsabilidad Social: Nos involucramos activamente en iniciativas de responsabilidad
                            social corporativa para contribuir al bienestar de la sociedad peruana y mejorar la calidad
                            de vida de las comunidades en las que operamos.</p>
                        <p> 🚩 Innovación Continua: Buscamos constantemente formas de mejorar y adaptarnos a un entorno
                            financiero en constante cambio. Promovemos la innovación en nuestros productos y servicios.
                        </p>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="images/images/img3.png" alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- end section -->
    <!-- Start Footer -->
    <footer class="footer-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12 white_fonts">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <img class="img-responsive" src="images/images/logoblanco.png" alt="#" />
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <h3>Links</h3>
                            </div>
                            <div class="full">
                                <ul class="menu_footer">
                                    <li><a href="index">> Inicio</a></li>
                                    <li><a href="about">> Nosotros</a></li>
                                  <!--<li><a href="exchange.html">> Exchange</a></li>-->
                                    <li><a href="services">> Servicios</a></li>
                                    <li><a href="new">> New</a></li>
                                    <li><a href="contact">> Contacto</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <div class="footer_blog full white_fonts">
                                    <h3>Boletin informativo</h3>
                                    <p>Es muy importante que el cliente siga el proceso de coaching, pero yo no</p>
                                    <div class="newsletter_form">
                                        <form action="index.html">
                                            <input type="email" placeholder="Correo..." name="#" required="">
                                            <button>Enviar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <div class="footer_blog full white_fonts">
                                    <h3>Contacto </h3>
                                    <ul class="full">
                                        <li><img src="images/images/i5.png"><span>Urb. Lucyana jr. j.s.
                                                Chocano<br>Frente al
                                                parque Feliciana</span></li>
                                        <li><a href="mailto:momentoscrediticios@gmail.com"><img
                                                    src="images/images/i6.png"
                                                    alt="#" />momentoscrediticios@gmail.com</a></li>
                                        <li><a href="https://wa.me/981993950"><img src="images/images/i7.png"
                                                    alt="#" />981993950</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="crp">© Momentos Crediticios Privacy Policy - Derechos reservados Powered by GHFDEV ®</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Icono para subir a inicio -->
    <a href="#" id="scroll-to-top" class="hvr-radial-out">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Icono flotante de WhatsApp -->
    <a class="whatsapp-float" href="https://wa.me/981993950" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-whatsapp" aria-hidden="true"></i> <!-- Icono de WhatsApp de Font Awesome -->
    </a>

    <!-- ALL JS FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.pogo-slider.min.js"></script>
    <script src="js/slider-index.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/images-loded.min.js"></script>
    <script src="js/custom.js"></script>

</body>

</html>