/* Estilos personalizados */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: #fff;
    overflow-y: auto;
    padding: 20px;
    transition: left 0.3s; /* Agregar una transición suave para la apertura/cierre */
}
.menu-icon {
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.sidebar.open {
    left: 0; /* Mostrar el menú cuando está abierto */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.submenu ul {
    display: none;
}

.submenu:hover ul {
    display: block;
}

.bg-gray-333 {
    background-color: #333; 
}

/*para login fondo*/
.background-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Asegura que el contenedor ocupa toda la altura de la pantalla */
}